mixin card(article, contextId)
  -
    var classes = ['o-card'];
    var imageclasses = ['o-card__image']
    if (attributes.imagetype === 'right') {
      classes.push('o-card--landscape o-card--image-right');
      imageclasses.push('o-card__image--right');
    } else if (attributes.imagetype === 'top' || attributes.imagetype === 'bottom') {
      classes.push('o-card--image');
    }
    if (article.branding) {
      classes.push('o-card--opinion')
    }
    var showMeta = article.branding || attributes.primarytopic;
    var useImage = article.mainImage && attributes.imagetype;
    var imageAbove = useImage && attributes.imagetype !== 'bottom';
    var imageBelow = useImage && !imageAbove;
    var showBranding = article.branding && article.branding.id !== contextId;
    var showHeadshot = !useImage;
    var showPrimaryTopic = article.primaryTag && article.primaryTag.id !== contextId;
    var showTopic = !!article.primaryTag;
  div(class=classes, data-o-component='o-card')
    if imageAbove
      div(class=imageclasses): +image(article.mainImage)
    .o-card__content
      .o-card__meta
        if showBranding
          +brandingtag(article.branding, showHeadshot)
        else if article.primaryTag
          +tag(article.primaryTag.url, article.primaryTag.name)
      unless attributes.hideHeadline
        +headline(article, attributes.smallText)
      if attributes.showStandfirst
        +standfirst(article.subheading, attributes.smallText)
      unless attributes.hideTimestamp
        +timestamp(article.publishedDate)
    if imageBelow
      div(class=imageclasses): +image(article.mainImage)

mixin link(article)
  a(href=`http://www.ft.com/cms/s/${ article.id }.html`)
    if block
      block
    else
      = article.title

mixin image(image)
  img(src=`https://image.webservices.ft.com/v1/images/raw/${image.url}?source=ig&width=390` alt="")

mixin timestamp(date)
  time.o-card__timestamp.o-date(datetime=helpers.isotime(date))=helpers.ftdate(date)

mixin brandingtag(branding, showheadshot)
  if branding.headshot && showheadshot
    img.o-card__meta-image.o-card__meta-image--rounded(src=`${branding.headshot}?width=120&source=IG`)
  a.o-card__tag(href=branding.url)=branding.name

mixin tag(url, label)
  a.o-card__tag(href=url)=label

mixin headline(article, small)
  - var classes = ['o-card__heading', small && 'o-card__heading--small']
  h2(class=classes): +link(article)

mixin standfirst(text, small)
  - var classes = ['o-card__standfirst', small && 'o-card__standfirst--small']
  p(class=classes)= text

mixin col(rules)
  div(data-o-grid-colspan=rules)
    block

mixin panel_header(title, url, label)
  -var heading = label || title;
  .onward-journey__header
    span.onward-journey__title
      h3.onward-journey__name= heading
    if url
      a.onward-journey__link(href=url, data-trackable='link-topic-see-all')
        span.header__link__text See all
